@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 101vh;
    padding: 0 10px;
    background: #fcf4f2;
}
.wrapper{
    width: 780px;
    border-radius: 20px;
    padding: 0 10px;
    background: #e0da87;
}
.wrapper header{
    color: #fcf4f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 1.6rem;
}
header .column{
    display: flex;
    align-items: center;
}